<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<style>

.contain{
    width: 100%;
    height: 40vh;
    position: relative;
    margin-bottom: 2px;
}

.contain video{
    width: 100%;
    height: 100%;
}
.text-box{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 900;
    mix-blend-mode: multiply;
}


</style>

</head>

<body>
{%include 'navbar.html'%}
{% load static %}






    <section  class="carosal-area" style="background-image: url(/static/img/carosal-bg.jpg); background-size: cover; ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="client owl-carousel owl-theme">
                            <div class="item">
                                <div class="text">
                                    <h3>Charity is not a duty but a joy</h3>
                                    <p>Charity begins at home but should not end there.</p>
                                    <h5 class="white-button"><a href="Donor/Donorlogin">DONATE NOW</a></h5>
                                    <h5><a href="Donor/Donorlogin">CONTACT US</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text">
                                    <h3>CHILDREN NEED YOUR HELP</h3>
                                    <p>An effort made for the happiness of others lifts above ourselves.</p>
                                    <h5 class="white-button"><a href="Donor/Donorlogin">DONATE NOW</a></h5>
                                    <h5><a href="Donor/Donorlogin">CONTACT US</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text">
                                    <h3>Charity is the root of all good works</h3>
                                    <p>No one has become poor from giving.</p>
                                    <h5 class="white-button"><a href="Donor/Donorlogin">DONATE NOW</a></h5>
                                    <h5><a href="Donor/Donorlogin">CONTACT US</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text">
                                    <h3>Charity is the root of all good works</h3>
                                    <p>No one has become poor from giving.</p>
                                    <h5 class="white-button"><a href="Donor/Donorlogin">DONATE NOW</a></h5>
                                    <h5><a href="Donor/Donorlogin">CONTACT US</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                 <div class="text">
                                    <h3>CHILDREN NEED YOUR HELP</h3>
                                    <p>An effort made for the happiness of others lifts above ourselves.</p>
                                    <h5 class="white-button"><a href="Donor/Donorlogin">DONATE NOW</a></h5>
                                    <h5><a href="Donor/Donorlogin">CONTACT US</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      

        <section class="our_activity">
            <div style="width: 250px; margin-left: 42%;">
                <h2 style="text-align: center; margin-top: 52px; border-bottom: 3.5px solid green ;">OUR ACTIVITY</h2>
            </div>
           
            <p style="text-align: center;">"Service to others is the rent you pay for your room here on earth"</p>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="single-Promo">
                            <div class="promo-icon">
                                <i class="material-icons">near_me</i>
                            </div>
                            <h2><a href="#">Fundraising</a></h2>
                            <p>Your contribution has the power to uplift children in dire situations. We’re working towards a nation where its children live a secure life, full of opportunities for growth and development. Presently, we have 65 projects running across 18 states of India, where we were able to reach a total of 10.37 lakh children in 2020.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="single-Promo">
                            <div class="promo-icon">
                                <i class="material-icons">favorite</i>
                            </div>
                            <h2><a href="#">Volunteering</a></h2>
                            <p>CharityConnect believes that until and unless members of the civil society are involved actively in the process of change and development, nothing can happen. </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="single-Promo">
                            <div class="promo-icon">
                                <i class="material-icons">dashboard</i>
                            </div>
                            <h2><a href="#">Our Programs</a></h2>
                            <p>Giving what we can to others can mean a whole lot more to them than we think.The CharityConnect is for strangers, orphans,the poor. We are dedicated to gearing them towards the doors of opportunities, helping them achieve their aspirations little by little. Through our generous benefactors and sponsors, and our dedicated team, we can make this dream possible. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
         <div class="block-wrapper" style="background-image: url('/static/img/count.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6 for-border">
                        <div class="block">
                            <p><i class="material-icons">favorite</i></p>
                            <p class="counter-wrapper"><span class="fb"></span></p>
                            <p class="text-block">CAUSES</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 for-border">
                        <div class="block">
                            <p><i class="material-icons">language</i></p>
                            <p class="counter-wrapper"><span class="code"></span></p>
                            <p class="text-block">PLACES</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 for-border">
                        <div class="block">
                            <p><i class="material-icons">person_add</i></p>
                            <p class="counter-wrapper"><span class="bike"></span></p>
                            <p class="text-block">VOLUNTEERS</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 for-border">
                        <div class="block">
                            <p><i class="material-icons">people</i></p>
                            <p class="counter-wrapper"><span class="coffee"></span></p>
                            <p class="text-block">SAVED</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <section class="events_section_area">
           <section class="our_activity">
            <div style="width: 300px; margin-left: 42%;">
                <h2 style="text-align: center; margin-top: 52px; border-bottom: 3.5px solid green ;">UPCOMING EVENTS</h2>
            </div>
           
            <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="events_single">
                            <img src="/static/img/events_single_one.jpg" alt="">
                           
                            <div class="clear"></div>
                            <h3>Education For Children</h3>
                            <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</h6>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="events_single">
                            <img src="/static/img/events_single_two.jpg" alt="">
                           
                            <h3>Education For Children</h3>
                            <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</h6>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="events_single">
                            <img src="/static/img/events_single_three.jpg" alt="">
                          
                            <h3>Education For Children</h3>
                            <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        <div class="contain">
            <video autoplay loop muted>
                <source src="/static/video.mp4" type="video/mp4">
            </video>
            <div class="text-box">
                    Charity Connect
            </div> 
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="footer-charity-text">
                            <h2>CHARITY CONNECT</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
                            <hr>
                            <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                        
                            <div class="col-md-4 col-sm-3">
                                <div class="footer-text two">
                                    <h3>USEFUL LINKS</h3>
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="Donor/Donorlogin">Donate</a></li>
                                        <li><a href="Reg_Login">join-Us now</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="footer-text one">
                                    <h3>CONTACT US</h3>
                                    <ul>
                                        <li><a href="#">location_on TCET,mumbai,India</a></li>
                                        <li><a href="#">email CharityConnect@gmail.com</a></li>
                                        <li><a href="#">call +123456789</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <p>Copyright @ 2021 <a href="#">CharityConnect</a> | All Rights Reserved </p>
            </div>
        </footer>
    

      


    <script src="{% static '/js/jquery-3.1.1.min.js'%}"></script>
    <script src="{% static '/js/animationCounter.js'%}"></script>
    <script src="{% static '/js/bootstrap.min.js'%}"></script>
    <script src="{% static '/js/owl.carousel.min.js'%}"></script>
    <script src="{% static '/js/active.js'%}"></script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
  </body>
</html>